<header>

	<section class="login">
		<%= form_tag("", :method=> "post") do %>
			<%#= label_tag (:q, "Email") %>
			<%= text_field_tag "Email", "" %>
			<%#= label_tag (:q, "Password") %>
			<%= text_field_tag "Password", "" %>
			<%= submit_tag "Login" %>
		<% end %>
	</section>	

	<h1>Neverending</h1>
</header>

<nav>
	<ul>
		<li>Fan Art</li>
		<li>Fan Fiction</li>
		<li>Characters</li>
		<li>Tribes</li>
		<li>World map</li>								
	</ul>	
</nav>





<br />
<br />
<%= link_to t("titles.characters"), characters_path %>
<br />
<%= link_to t("titles.tribes"), tribes_path %>
<br />
<%= link_to t('titles.users'), users_path %>
